@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


/******************************* menu bar start **************************/
*{
    padding: 0;
    margin:0;
    box-shadow: border-box;
    list-style-type: none;
}
body{
    width:100vw;
    overflow-x:hidden;
    font-family: "Poppins",sans-serif;
    font-weight: bolder;
}
.top{
    background-color: rgb(19, 19, 68);
    color:white;
    padding:3px 10px;
    flex-wrap: wrap;
    align-items: center;
}
.left,.right{
    min-width: 300px;
}

.left{
    display: flex;
    justify-content:center;
    align-items: center;
}
.num,.loc{
    display:flex;
    justify-content: center;
    flex-direction: row;
}
.num i,.loc i{
    color:red;
    margin-top:9px;
    padding:0 7px;
    font-size: 20px;
}
.num p,.loc p{
    margin-top:7px;
    padding-right:7px;
}
.tnlogo{
    height:60px;
    width:60px;
}
.menulogo{
    width: 40px;
    height: 40px;
    object-fit: contain;
    transform: scale(3);
    padding:0 5px;
}
nav{
    background-color:white;
    height:100px;
    padding:0px 15px !important;
    font-size: 1.1rem;
    font-weight: 600 !important;
    position: sticky !important;
    top:0 !important;
    z-index: 1000;
}
.nav-link.active{
    background-color: orangered !important;
    color:white !important;
    border-radius: 5px;
}
.nav-link:hover{
    color:white;
    background-color: orangered;
    border-radius: 5px;
}
.navbar-brand{
    font-size: 1.3rem;
    color:rgb(7, 7, 136);
    letter-spacing: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}
.nav-item{
    padding:0px 15px;
    font-weight:600;
}

/**************************** menu bar end***********************/
.carousel-item{
    width:100%;
    max-height:600px;
    z-index: -1;
}
.carousel-item img{
    object-fit: contain;
}
.pay-link{
    background-color: rgb(14, 5, 66);
    margin-top:-49px;
    position: relative;
    overflow: hidden;
    width:100%;
    height:180px;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container{
    position: absolute;
    top:60px;
    display: flex !important;
    justify-content: space-between !important;
}
.pay-head{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1000;
    font-size: 25px;
    padding:0 10px;
    color:white;
    width:80%;
}
.pay-btn a{
    font-size: 1.8rem !important;
    border-radius: 5px;
    outline:none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    color:white;
    background-color: orangered;
    padding:8px 16px;
}
.container-box{
    padding:30px 40px;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,auto));
    gap:4rem;
}
.box{
    box-shadow: 4px 4px 4px 4px rgb(99, 95, 95);
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.telegram{
    height:150px;
    background-color: rgb(241, 116, 13);
    overflow: hidden;
    position: relative;
}
.telegram img{
    z-index: -1;
}
.innerbox{
    position:absolute;
    top:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    z-index: 10;
}
.innerbox p{
    font-size: 2rem;
    color:white;
}
.innerbox a{
    font-size:16px;
    text-decoration: none;
    height:60px;
    border-radius: 5px;
    color:white;
    padding:0 25px;
    background-color: rgb(14, 14, 65);
}
.profiles{
    background-color: rgb(9, 9, 54);
    height:250px;
    overflow: hidden;
    position: relative;
}
.circle{
    color:white;
    width:300px;
    min-height:170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type:none;
}
.circle li{
    width:100px;
    height:100px;
    display: flex;
    color:orangered;
    font-size:24px;
    font-weight:500;
    justify-content:center;
    align-items: center;
    border-radius:50%;
    background-color: white;
    border:2px solid orangered;
}
.innerbox h3{
    padding-top:20px;
    font-size:23px;
    font-weight: 500;
}

/*-------------------------event start----------------*/
.events{
    display:flex;
    justify-content: space-between;
    background-image: linear-gradient(100deg,rgba(241, 239, 239, 0.692),rgb(245, 241, 241),rgb(252, 251, 250));
    padding:2rem 0;
    width: 100%;
    height:800px;
    flex-wrap: wrap;
    overflow: hidden;
}
.images-left{
    display: flex;
    justify-self: space-between;
    flex-wrap: wrap;
    width:60%;
}
.events-right{
    width:40%;
}
.evt-title{
    color:orangered;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    padding:20px 0;
    font-weight: none;
}
.evt-subtitle{
    color:black;
    font-size:25px;
}
.evt-evt{
    display: flex;
    padding:0 10px;
    width:100%;
    align-items: center;
    height:60px;
}
.evt-loc,.evt-date{
    display: flex;
    padding-top:20px;
    justify-content: space-around;
    align-items: center;
}
.evt-loc p,.evt-date p{
    margin-top: 10px;
    padding-left:20px;
    color:rgb(10, 10, 128);
    font-size: 17px;
}
.list-contents{
    margin-top:2rem;
}
.list-contents li{
    list-style-type: none;
    padding: 0 10px;
    font-size: 25px;
}
.cont{
    display: flex;
    padding:20px 10px;
}
.logo{
    height:50px;
    width:50px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color:white;
}
.logo1{
    height:30px;
    width:30px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

/*************************** Card Group*************************/
.news{
    background-color:rgb(241, 235, 235);
    background-image: url(images/pattern-24.png) !important;
}
.news-head{
    font-size: 30px;
    padding:2rem 4rem;
    color:rgb(10, 10, 73);
}
.card-group{
   
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,420px));
    padding:20px;
    gap:2rem;
}
.card{
    border:none;
    height: 400px;
    padding:20px;
    margin-left: 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 5px !important;
}
.card-text{
    font-size: 15px;
}
.card-img-top{
    aspect-ratio: 5/3;
}
.nav-link1{
    text-decoration: none;
    color:black;
}
span{
    color:orangered;
}
/*********************************   Footer    *******************/
.footer{
    width:100%;
    height:380px;
    background-color: rgb(15, 9, 61);
    position: relative;
    color:white;
}
.foot-title{
    font-size:40px;
    padding:2rem;
    text-transform: uppercase;
}
.foot-title img{
    width: 50px;
    height:50px;
    object-fit: contain;
}
.foot-contact{
    display: flex;
    justify-content: space-evenly;
    color:rgb(230, 227, 227);
}
.foot-contact i{
    font-size: 20px;
    padding:16px;
    color:rgb(241, 116, 13);
}
.foot-socialmedia{
    display: flex;
    justify-content: center;
    padding:2rem 0;
}
.foot-socialmedia .links{
    display: flex;
    justify-content: center;
}
.foot-socialmedia .links li{
    background-color: orangered;
    border-radius: 50%;
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 20px;
}
.foot-socialmedia .links li i{
    font-size: 25px;
    color:white;
}
.foot-copyright{
    position: absolute;
    bottom:0;
    background-color: rgba(2, 2, 24, 0.541);
    width:100%;
    text-align: center;
    color:white;
    padding:1.7rem;
}

@media (max-width:480px){
     *{
        width:100vw !important;
         overflow:hidden;
         margin:0 -80px;
    }
    .top{
        height: 130px;
    }
    .left{
        flex-direction: column !important;
    }
    .num p,.loc p{
        font-size: 14px;
        padding:0 10px;
        font-weight: 400;
    }
    .navbar-nav{
        background-color: white;
        margin-top:1.5rem;
        box-shadow: 5px 5px 5px 5px black;
        align-content: center;
        border-radius: 1rem;
        width: 98%;
    }
    .navbar-nav .nav-item a{
        text-align: center;
    }
    .navbar-nav.nav-link{
        background-color:orangered;
        text-align: center;
    }
    nav{
        background-color:white;
        height:110px;
    }
    .container-fluid{
        padding:0;
        margin:-14px;
    }
    .navbar-brand{
        font-size: 1.1rem;
    }
    .tnlogo{
        width:40px;
        height:40px;
    }
    .nav-item{
        padding:10px 15px;
        font-weight:600;
    }
    .carousel{
        height: 300px !important;
    }
    .carousel-item img{
        object-fit: cover !important;
        aspect-ratio: 3/2;
    }
    .pay-link{
        margin-top:-3px;
        height:210px;
        width: 100%;
        justify-content: space-around !important;
    }
    .pay-head{
        font-size: 22px;
        color:white;
        width:100%;
        font-family: 'Poppins',sans-serif;
    }
    .pay-btn{
       text-align: center;
       margin-top: 1rem;
    }
    .pay-btn a{
        font-size: 18px !important;
        border-radius: 5px;
        padding: 10px 14px;
    }
    .container{
        top:30px;
        flex-direction: column !important;
    }
    .innerbox{
        top:25px;
    }
    .innerbox p{
        font-size: 23px;
    }
    .innerbox a{
        height:50px;
    }
    .profiles{
        background-color: rgb(9, 9, 54);
        height:750px;
        overflow: hidden;
        position: relative;
    }
    .events{
        flex-direction: column-reverse !important;
        padding:2rem 10px;
        height:100%;
    }
    .images-left{
        width:100%;
        height: 700px;
    }
    .leftimg{
        display: none;
    }
    .events-right{
        width: 100%;;
        height: 100%;
    }
    .evt-title{
        color:orangered;
        letter-spacing: 1px;
        font-size:20px;
        padding:15px 7px;
    }
    .evt-subtitle{
        font-size:22px;
        padding:0 7px;
    }
    .evt-evt{
        flex-direction: column !important;
        width:100%;
        height:130px;
    }
    .evt-loc,.evt-date{
        justify-content: left !important;
        width: 100%;
    }
    .list-contents{
        margin-top:3rem;
    }
    .list-contents li{
        font-size: 21px;
    }
    .news-head{
        font-size: 30px;
        padding:2rem 4rem;
        color:rgb(10, 10, 73);
    }
    .news-head{
        font-size: 27px;
        width:100% !important;
        padding:2rem;
        text-shadow: 3px 4px 3px red;
    }  
    .footer{
        height:430px;
    }
    .foot-title{
        font-size:18px;
        padding:2rem 0;
        text-align: center;
    }
    .foot-title img{
        padding:0 5px;
        margin-top: -1rem !important;
    }
    .foot-contact{
        flex-direction: column !important;
        font-size: 15px !important;
        font-weight: 400;
    }
    .foot-copyright{
        width:100%;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        padding:1rem;
    }
}
